.btn {
    @apply px-4;
    @apply py-2;
    @apply rounded;
    @apply bg-indigo-500;
    @apply text-white;
    transition: 200ms;
}

.btn:hover {
    @apply bg-indigo-600;
}

.ui-logo-minor {
    color: #727cf5;
    font-weight: 300;
}

.ui-logo {
    font-weight: 900;
    font-size: 25px;
    letter-spacing: -1px;
    color: #031a61;
}
