<div class="login-card">
    <div class="image-panel"></div>
    <div class="form-container">
        <div class="header">
            <div class="title">
                Budget<span class="title-alt">.Bar</span>
            </div>
            <div class="subtitle">
                Welcome back!  Log in to your account.
            </div>
        </div>

        <div class="form">
            <div class="input-field">
                <div class="label">Email address</div>
                <input class="text-input" type="email" placeholder="john_doe@email.com">
            </div>

            <div class="input-field">
                <div class="label">Password</div>
                <input class="text-input" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
            </div>

            <div class="checkbox-field">
                <input type="radio" class="checkbox">
                <div class="checkbox-label">Remember me</div>
            </div>

            <div class="button-container">
                <button class="button-primary">Login</button>
                <button class="button-outline">Login with twitter</button>
            </div>

            <div class="text-subtle">
                Not a user? <span class="sign-up">Sign up</span>
            </div>
        </div>
    </div>
</div>