@import "~@angular/material/theming";


@mixin color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  .app-root {
    background-color: blue;
  }
}